version: "2.4"
services:

  wrk:
    build: ../wrk
    depends_on:
      api:
        condition: service_healthy

  api:
    build: .
    ports:
      - "8080:8080"
    depends_on:
      - db

  db:
    image: docker.io/library/mongo
