version: "3"
services:

  wrk:
    build: ../wrk
    depends_on:
      api:
        condition: service_healthy

  api:
    build: .
    environment:
      GIN_MODE: "release"
      PORT: "8080"
      DB_URI: "mongodb://db:27017"
    ports:
      - "8080:8080"
    depends_on:
      - db

  db:
    image: docker.io/library/mongo:4
    ports:
      - "27017:27017"
