version: '3'
services:
  wrk:
    build: ../wrk
    depends_on:
      - api
  api:
    build: .
    ports:
      - "8080:8080"
    depends_on:
      - db
  db:
    image: mongo
    ports:
      - "27017:27017"
