version: '3'
services:
  wrk:
    build: ../wrk
    depends_on:
      - api
  api:
    build: .
    environment:
      ROCKET_PORT: "8080"
      ROCKET_WORKERS: "8"
      DB_URI: "mongodb://db:27017/test"
    depends_on:
      - db
  db:
    image: mongo
