version: '2.2'
services:
  wrk:
    build: ../wrk
    cpus: '2.0'
    mem_limit: 1024M
    depends_on:
      - api
  api:
    build: .
    cpus: '2.0'
    mem_limit: 2048M
    environment:
      PORT: "8080"
      DB_URI: "mongodb://db:27017/test"
    ports:
      - "8080:8080"
    depends_on:
      - db
  db:
    image: mongo
    cpus: '2.0'
    mem_limit: 4096M
