version: '3'
services:
  wrk:
    build: ../wrk
    depends_on:
      - api
  api:
    build: .
    environment:
      PORT: "8080"
      DB_URI: "mongodb://db:27017/test"
    ports:
      - "8080:8080"
    depends_on:
      - db
  db:
    image: mongo
